**IMPORTAR LIBRERIAS**

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

**CARGAR EL ARCHIVO CSV**

In [13]:
df = pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
df

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

**FILTRO 1**

In [ ]:
filtro1=df[(df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro1

**FILTRO 2**

In [ ]:
filtro2= df.iloc[3:10,:]
filtro2

**FILTRO 3**

In [ ]:
filtro3=df.iloc[:,1:3] #Columnas consecutivas
#filtro3=df.iloc[:,[1,4,5]] #Columnas no consecutivas
filtro3

**FILTRO 4**

In [16]:
df1=pd.read_excel('Detalle precios y productos fabricados 2022.xlsx', index_col=2)

filtro4=df1.loc[["LETICIA RAMIREZ HERNANDEZ","AARON NUÑO CORDOVA"],["PRECIO_UNITARIO"]]
filtro4

                           PRECIO_UNITARIO
NOMBRE_VENDEDOR
LETICIA RAMIREZ HERNANDEZ           434.48
LETICIA RAMIREZ HERNANDEZ          1264.05
LETICIA RAMIREZ HERNANDEZ           172.41
LETICIA RAMIREZ HERNANDEZ           237.07
LETICIA RAMIREZ HERNANDEZ            94.50
...                                    ...
AARON NUÑO CORDOVA                  925.82
AARON NUÑO CORDOVA                 1910.50
AARON NUÑO CORDOVA                 2020.42
AARON NUÑO CORDOVA                 1177.07
AARON NUÑO CORDOVA                 1406.00

[967 rows x 1 columns]

**FILTRO 5**

In [ ]:
filtro5=df.head(20)
filtro5

**FILTRO 6**

In [ ]:
filtro6=df.tail(20)
filtro6

**FILTRO 7**

In [ ]:
filtro7=df[df["PRECIO_UNITARIO"] < 150]
filtro7

**FILTRO 8 (Y)**

In [ ]:
#filtro y
filtro8=df[(df["PRECIO_UNITARIO"] < 150) & (df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro8

**FILTRO 9 (O)**

In [ ]:
#filtro y
filtro9=df[(df["PRECIO_UNITARIO"] < 150) | (df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro9

**FILTRO 10 (Not)**

In [ ]:
#filtro not
filtro10=df[~(df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro10

**Convertimos todos los dataframes a cvs's**

In [27]:
#Convertir archivo filtrando a CSV
filtro1.to_csv("Entregable1.csv")
filtro2.to_csv("Entregable2.csv")
filtro3.to_csv("Entregable3.csv")
filtro4.to_csv("Entregable4.csv")
filtro5.to_csv("Entregable5.csv")
filtro6.to_csv("Entregable6.csv")
filtro7.to_csv("Entregable7.csv")
filtro8.to_csv("Entregable8.csv")
filtro9.to_csv("Entregable9.csv")
filtro10.to_csv("Entregable10.csv")